.content {
  display: flex;
  flex-direction: column;
}

.title{
  text-align: center;
  margin-bottom: 0;
  font-size: 60px;
}

.description{
  text-align: center;
  margin: 4px;
  margin-bottom: 24px;
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.start-button {
  font-family: Inter, Helvetica, sans-serif;
  padding: 18px;
  border-radius: 20px;
  border: none;
  color: #FFF;
  font-size: 16px;
  background-color: #4D5B9E;
  cursor: pointer;
}